accelerate==1.7.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
anytree==2.13.0
args==0.1.0
astropy==6.1.7
astropy-iers-data==0.2025.6.30.0.39.40
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout==5.0.1
attrs==25.3.0
backcall==0.2.0
beautifulsoup4==4.13.4
bleach==6.2.0
braceexpand==0.1.7
certifi==2022.12.7
cftime==1.6.4.post1
cgen==2020.1
charset-normalizer==2.1.1
click==8.2.1
clint==0.5.1
# Editable install with no version control (clip==1.0)
-e /home/dhk/projects_dir/code/Flow-Inference-Time-Scaling-main/CLIP-main
cloudpickle==3.1.1
codepy==2023.1
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
contourpy==1.3.2
cycler==0.12.1
datasets==3.6.0
debugpy @ file:///croot/debugpy_1736267418885/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
defusedxml==0.7.1
devito==4.8.19
diffusers==0.33.1
dill==0.3.8
distro==1.9.0
docopt==0.6.2
ehtim==1.2.10
einops==0.8.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
fairscale==0.4.13
fastjsonschema==2.21.1
filelock==3.13.1
fire==0.4.0
fonttools==4.58.0
frozenlist==1.6.0
fsspec==2024.6.1
ftfy==6.3.1
future==1.0.0
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.44
h11==0.16.0
h5py==3.14.0
hdrhistogram==0.10.3
hpsv2==1.2.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.2
hybra==2025.5.1
hydra-core==1.3.2
idna==3.4
image-reward==1.5
imageio==2.37.0
importlib_metadata==8.7.0
iniconfig==2.1.0
iopath==0.1.10
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython==8.12.3
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.4
jiter==0.9.0
joblib==1.5.0
jplephem==2.23
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
jupyterlab_pygments==0.3.0
kiwisolver==1.4.8
llvmlite==0.44.0
lmdb==1.6.2
MarkupSafe==2.1.5
matplotlib==3.10.3
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mistune==3.1.3
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.16
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
netCDF4==1.7.2
networkx==3.3
nfft==0.1
numba==0.61.2
numpy==1.26.4
omegaconf==2.3.0
open_clip_torch==2.32.0
openai==1.78.1
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas==2.2.3
pandas_appender==0.9.9
pandocfilters==1.5.1
paramsurvey==0.4.21
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pbr==6.1.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.0.0
pipreqs==0.5.0
piq==0.8.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
pluggy==1.6.0
portalocker==3.1.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache==0.3.1
protobuf==3.20.3
psutil @ file:///croot/psutil_1736367091698/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-cpuinfo==9.0.0
pyarrow==20.0.0
pycocoevalcap==1.2
pycocotools==2.0.8
pydantic==2.11.4
pydantic_core==2.33.2
pyerfa==2.0.1.5
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pyNFFT @ file:///home/conda/feedstock_root/build_artifacts/pynfft_1650036921293/work
pyparsing==3.2.3
PySocks==1.7.1
pytest==7.2.0
pytest-split==0.8.0
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytools==2025.2.1
pytz==2025.2
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq @ file:///croot/pyzmq_1734687138743/work
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rpds-py==0.26.0
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.30.0
setproctitle==1.3.6
sgp4==2.24
sigpy==0.1.27
siphash24==1.7
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
skyfield==1.53
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
supervision==0.25.1
sympy==1.13.3
# Editable install with no version control (t2v_metrics==1.2)
-e /home/dhk/projects_dir/code/Flow-Inference-Time-Scaling-main/third-party/t2v_metrics
termcolor==3.1.0
threadpoolctl==3.6.0
tiktoken==0.9.0
timm==0.6.13
tinycss2==1.4.0
tokenizers==0.21.1
tomli==2.2.1
torch==2.1.0+cu121
torchaudio==2.1.0+cu121
torchvision==0.16.0+cu121
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827254365/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.51.3
triton==2.1.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==1.26.13
wandb==0.20.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webdataset==0.2.111
webencodings==0.5.1
xarray==2025.4.0
xxhash==3.5.0
yarg==0.1.9
yarl==1.20.0
zipp==3.21.0
